/*
* Trailblazer Theme
* Built by Twingl in the second decade of the 21st century
*/

/* Intent of this Stylesheet
––––––––––––––––––––––––––––––––––––––––––––––––––
* Right now, I'm using it to apply colour theme-wide,
* to hold any custom CSS (parallax). Basic typography is presently set
* in skeleton.css, but that may change.
*/

/* Base Colours
---------------------------------------------*/

body {
    background-color: #FFFAF3;
    color: #A1A09F;
}

a {
    color: #F6643F; 
    transition: 0.3s ease;
}

a:hover {
    color: #FF3C0A;
}


/* Temporary Layout Scratchpad
Treat this as a refactoring pen for quickly blocking stuff out in code.
Shit. It's going to stay like this for a while, isn't it?
#crunchtime
---------------------------------------------*/
a[href="/about/"], a[href="/about"]  {
    display: none;
}

.logo {margin-top: 1rem; margin-bottom: 5rem}
.intro.bold-statement {margin-bottom: 8rem; position: relative;}

@media (min-width: 500px) {
    div .problem-browser {
        padding-top: 12rem;
    }    
}


footer h4 {
    /*Decide what this is semantically later: right now, we just want a stlye*/
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.scroll-to-cta {

}

/* Typographic Overrides
---------------------------------------------*/
body {
    /* Gotham SS is set in skeleton.css*/
}


.bold-statement, .lead-statement, .less-leading-statement, .ambitious-statement{
    font-family: 'Verlag A', 'Verlag B';
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;

    margin-left: auto;
    margin-right: auto;
}

.bold-statement {
    font-size: 3.2rem;
    line-height: 1.2em;
    text-align: center;
    max-width: 14em;
}

.lead-statement {
    line-height: 1.35em;
    letter-spacing: .1rem;
    max-width: 32em;
}

.ambitious-statement {
    font-size: 3.2rem;
    line-height: 1.4em;
    color: #FFFAF3;
    max-width: 18em;
}

.less-leading-statement {
    font-size: 1.5rem;
    line-height: 1.2;
}

@media (min-width: 550px) {
    .bold-statement {
        font-size: 3.6rem;
    }
    .lead-statement {
        font-size: 2rem;
    }
    .ambitious-statement {
        font-size: 3.8rem;
    }
}


/* Navigation
---------------------------------------------*/

.nav-list li {
    display: inline-block;
}

.nav-list.main-nav {
    float: right;
}

.nav-list a {
    font-size: 11px;
    letter-spacing: .1rem;
    text-decoration: none;
    color: #3E3C37;
}

.nav-list a:hover {
    color: #FF3C0A;
}

.nav-list.main-nav a {
    margin-left: 4em;
}

.nav-text-link, .footer-nav a {
    padding: 1em 0;
}

.nav-list.contact-nav a {
    width: 32px;
    height: 37px;
    display: block;
    overflow: hidden;
    text-indent: -50em;
    margin-right: 1em;
}


@media (max-width: 550px) {
    header .nav-list {text-align: center;}
    header .contact-nav a {
        margin-left:1em;
    }
    .nav-list.main-nav a {
        margin-left: 1em;
        margin-right: 1em;
    }
}

/* Overriding skeleton button style */
.button{
    background-color: rgba(255, 255, 255, 0.6);
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.button-primary.button-education {
    background-color: #1DAFAD;
    border-color: #1DAFAD;
}

.button-primary.button-education:hover {
    background-color: #2DD2D0;
    border-color: #2DD2D0;
}

.button-primary.button-individuals {
    background-color: #F6643F;
    border-color: #F6643F;
}

.button-primary.button-individuals:hover {
    background-color: #FF3C0A;
    border-color: #FF3C0A;
}

/* Navigation Icons*/
.icon {
    background-image: url("../images/presence-icons@2x.png");
    background-repeat: no-repeat;
    background-size: 96px 74px;
    transition: 0s;
}

.icon.twitter {
    background-position: -32px 0;
}
.icon.twitter:hover {
    background-position: -32px -37px;
}

.icon.facebook {
    background-position: 0 0;
}

.icon.facebook:hover {
    background-position: 0 -37px;
}

.icon.email {
    background-position: -64px 0;
}

.icon.email:hover {
    background-position: -64px -37px;
}


/* Header
---------------------------------------------*/
.logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header {
    margin-top: 3rem;
}

.intro .scroll-to-cta {
    display: inline-block;
    margin-top: 5.5rem;
    font-size: 0.7em;
    text-decoration: none;
}

.intro .scroll-to-cta:hover {
    text-decoration: underline;
}

.intro .scroll-to-cta::after {
    content: "";
    display: block;

    background-image: url("../images/down-arrow@2x.png");
    background-size: 100%;

    width: 34px;
    height: 40px;
    bottom: 0;

    margin-left: auto;
    margin-right: auto;

    margin-top: 1.4rem;
}

/* Problem Browser
---------------------------------------------*/
.problem-browser {
    /*border: 2px solid #A1A09F;*/
    /*border-radius: 8px;*/
    /*border-bottom-right-radius: 0;*/
    /*border-bottom-left-radius: 0;*/
    border-bottom: none;
    padding: 4rem;
    background-image: url("../images/problem-browser.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/* Solution Screenshot
---------------------------------------------*/
.solution {
    background-color: #3E3C37;
    color: #FFFAF3;
}

.trailblazer-screenshot {
    width: 100%;
}

.value-proposition {
    font-size: 1.2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.value-proposition li {
    display: inline-block;
    margin-bottom: 3rem;
}

@media (min-width:768px) {
    .value-proposition li {
        width: 44%;
        vertical-align: top;
        margin-right: 5.5%;
    }    
}


.solution .lead-statement {
    margin: 3.2rem 4rem;
}

.solution h4 {
    font-family: 'Verlag A', 'Verlag B';
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
}

.solution .scroll-to-cta::after {
    content: "";
    display: inline-block;
    margin-left: .5em;
    vertical-align: middle;
    margin-top: -1px; /*Optical balancing */
    width: 14px;
    height: 12px;
    background-image: url("../images/right-arrow@2x.png");
    background-size: 14px 12px;
}

/* CTA Form
---------------------------------------------*/
.cta {
    border-top: 2px solid #3E3C37;
    padding-top: 4em;
    padding-bottom: 3em;
}

.cta input[type="email"] {
    height: 64px;
    width: 100%;
}

.cta input[type="submit"] {
    height: 64px;
    line-height: 64px;
    width: 100%;
}

.cta input {
    font-size: 1.5rem;
    float: left;
}

@media (min-width: 768px) {
    .cta input[type="email"] {
        height: 76px;
        padding: 12px 20px; /* The 6px vertically centers text on FF, ignored by Webkit */
        width: 60%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }

    .cta input[type="submit"] {
        height: 76px;
        line-height: 76px;
        width: 40%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 0 ;
    }   
}

/* CTA Form Styling */
#registration-form {
    margin-bottom: 0;
}
.cta .button-primary {
    font-family: 'Verlag A', 'Verlag B';
    text-transform: none;
    font-size: 1.4em; /*Compensates for Gotham's higher x-height*/
}

.cta.form-great-success .button {
    border-color: #555;
}

.twitter-share {
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.7rem;
}

/* CTA Form : States */
/* Error */
.form-error-text {
    display: none;
    padding: 2rem;
    color: red;
    border: 2px solid red;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.cta.form-error .form-error-text {
    display: block;
}

.cta.form-error input {
    border-color: red;
}

/* Success - BEGIN PHASE TWO */ 

.cta.form-success .hide-on-success,
.cta.form-great-success .hide-on-success {
  display: none;
}

.cta.form-success, .cta.form-great-success {
    background-color: #84EE78; 
}

.cta.form-success .signup, .cta.form-great-success .signup {display: none}

.form-wrapper .lead-statement {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}

.form-wrapper .lead-statement,
.form-wrapper .less-leading-statement {
    color: #3E3C37;
    text-align: center;
}

.form-wrapper.post-signup, .form-wrapper.post-post-signup {
    display: none;
}

.cta.form-success .form-wrapper.post-signup {
    display: block;
}

.cta.form-great-success .form-wrapper.post-post-signup {
    display: block;
}

/* TBC */

/* Footer Area
---------------------------------------------*/
/* Main Section Styles */
footer, .vision {
    background-color: #3E3C37;
}

/* Vision */
.vision {
    padding: 6.4rem 0 3.2em 0;
}

.vision-ctas {
    border-bottom: 8px solid #FFFAF3;
    margin-bottom: 0.5em;
    padding-bottom: 1.5em;
}
.vision-cta {
    text-decoration: none;
    color: #FFFAF3;
    margin-right: 2em;
}

.vision-cta::after {
    content: "";
    display: inline-block;
    margin-left: .5em;
    vertical-align: middle;
    margin-top: -1px; /*Optical balancing */
    width: 14px;
    height: 12px;
    background-image: url("../images/right-arrow@2x.png");
    background-size: 14px 12px;
}

.vision-cta:hover::after {
    background-image: url("../images/right-arrow.png");
}

/* Press */
.press a {
    text-align: center;
    line-height: 90px;
}

.press a img {
    vertical-align: middle;
    opacity: 0.4;
    transition: 0.5s;
}

.press a:hover img {
    opacity: 0.7;
}
.press {
    margin-bottom: 3rem;
}

/* Navigation */
.footer-nav {
    /*border-top: 1px solid #FFFAF3;*/
    padding-top: 3rem;
}
.footer-nav .nav-list li {
    display: list-item;
    list-style: none;
}

.footer-nav a {
    color: #FFFAF3;
}

@media (max-width: 550px) {
    .footer-nav-right {margin-bottom: 0}
}
@media (min-width: 550px) {
    .footer-nav-right {
        text-align: right;
    }    
}

/* Twingl */

.colophon {
    background-color: #941635;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.twingl {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFAF3;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    padding-bottom: 2em;
    text-transform: uppercase;
    -webkit-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
}

.twingl:hover {
    color: #fff;
    background-color: rgba(255,255,255,0.1)
}

.twingl::before {
    content: "";
    display: block;
    position: relative;
    top: -13px;
    margin-left: auto;
    margin-right: auto;
    width: 42px;
    height: 48px;
    background-image: url("../images/twingl-colophon@2x.png");
    background-size: 42px 48px;
}

/* Utilities
---------------------------------------------*/
.u-hide {
    display: none;
}

.u-kern-tr-verlag {
    letter-spacing: -0.15em;
}

.u-center {
    text-align: center;
}


/* Webstock 
--------------------------------------------*/
.webstock-announcement {
    background-color: #b07f00;
    color: #f6f2ec;
    padding-top: 3rem;
}

.cta.webstock input[type=submit]{
    color: #FFFAF3;
    background-color: #b07f00;
    border-color: #b07f00;
    text-shadow: 0 1px 1px rgba(140, 140, 140, 0.5);
    transition: 0.5s;
}

.cta.webstock input[type=submit]:hover{
    background-color: #AD892A;
    transition: 0.3s;
}


.webstock-announcement a, .webstock-announcement a:hover {
    color:#fff;
}
