/*
* Trailblazer Theme
* Built by Twingl in the second decade of the 21st century
*/

/* Intent of this Stylesheet
––––––––––––––––––––––––––––––––––––––––––––––––––
* Right now, I'm using it to apply colour theme-wide, 
* to hold any custom CSS (parallax). Basic typography is presently set
* in skeleton.css, but that may change.
*/

/* Base Colours
---------------------------------------------*/ 

body {
    background-color: #FFFAF3;
    color: #A1A09F;
}

a {
  color: red; }
a:hover {
  color: maroon; }

/* Typographic Overrides
---------------------------------------------*/ 
body { 
    /* Gotham SS is set in skeleton.css*/
}


.bold-statement, .lead-statement { 
    font-family: 'Verlag A', 'Verlag B'; 
    font-weight: 400; 
    font-style: normal;
    text-rendering: optimizeLegibility;
    
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
}

.bold-statement {
    font-size: 3.2rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
    max-width: 14em;
}

.lead-statement {
    line-height: 1.35;
    letter-spacing: .1rem;
    max-width: 32em;
}

@media (min-width: 550px) {
    .bold-statement {
        font-size: 3.6rem;
    }
    .lead-statement {
        font-size: 2rem;
    }
}


/* Navigation
---------------------------------------------*/ 

.nav-list li {
    display: inline-block;
}

.nav-list.main-nav {
    float: right;
}

.nav-list a {
    font-size: 11px;
    letter-spacing: .1rem;
    text-decoration: none;
    color: #333;
    margin-left: 4em;
}

/* Header
---------------------------------------------*/ 
.logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header {
    margin-top: 3rem;
}

/* Sections (Placeholder)
---------------------------------------------*/ 
.cta {
    border: 2px solid;
}

.footer { 
    background-color: #3E3C37;
}


/* CTA Form 
---------------------------------------------*/ 

/* CTA Form Layout */
@media (min-width: 550px) {
    .cta input[type="email"] {
        height: 76px;
        padding: 12px 20px; /* The 6px vertically centers text on FF, ignored by Webkit */
        width: 66.67%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }

    .cta input[type="submit"] {
        height: 76px;
        line-height: 76px;
        width: 33.33%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 0 ;
    }

    .cta input {
        font-size: 1.5rem;
        float: left;
    }

    .mc-field-group {
        width: 100%;
    }
}

/* CTA Form Styling */
.cta .button-primary {
    font-family: 'Verlag A', 'Verlag B'; 
    text-transform: none;
    font-size: 1.4em; /*Compensates for Gotham's higher x-height*/
}



/* Utilities */
.u-hide {
    display: none;
}

.u-kern-tr-verlag {
    letter-spacing: -0.15em;
}
